canvas{
    display:block;
    float:left;
    margin:auto;
    transition:transform ease-in-out 0.5s;
}
canvas:hover{
    transform:rotate(180deg);
}
img{
    display:block;
    margin:auto;
}

body{
    font-family:'Helvetica',"Arial",sans-serif;
    display:grid;
    grid:
        'head   head'    1fr
        'main   sidebar' 5fr
        'footer footer'  1fr
        /5fr    1fr
}


@media (max-width: 400px) {
    body{
        grid:
            'head' 1fr
            'main' 5fr
            'sidebar' 2fr
            'footer' 1fr;
    }
}
  

#head{
    grid-area:head;
    border-radius:10%;
    background: #93e4c1;
}
#main{
    grid-area:main;
    border-radius:10%;
    background: #3baea0;
}
#main canvas{
    width:70%;
    display:block;
    margin: auto;
}
#main h1{
    display: block;
    margin: auto;
}
#main figure{
    display: block;
    float: right;
}
#sidebar{
    grid-area:sidebar;
    border-radius:10%;
    background: #118a7e;
}
footer{
    grid-area:footer;
    border-radius:10%;
    background: #1f6f78;
}
